<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_de_produto_id %><br />
    <%= f.number_field :tipo_de_produto_id %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :quantitade_produto %><br />
    <%= f.number_field :quantitade_produto %>
  </div>
  <div class="field">
    <%= f.label :observacoes %><br />
    <%= f.text_field :observacoes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
