<%= form_for(@local_de_entrega) do |f| %>
  <% if @local_de_entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local_de_entrega.errors.count, "error") %> prohibited this local_de_entrega from being saved:</h2>

      <ul>
      <% @local_de_entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :referencia %><br />
    <%= f.text_field :referencia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
